CONFIG_INLINE_OPTIMIZATION=y
CONFIG_LLVM_POLLY=y
CONFIG_WIREGUARD=y
CONFIG_COMPAT_VDSO=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_LTO_CLANG=y
CONFIG_NR_CPUS=8
CONFIG_RCU_PANIC_ON_STALL=1
CONFIG_PANIC_TIMEOUT=-1
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_EXFAT_FS=y
CONFIG_ZRAM_SIZE_OVERRIDE=3
CONFIG_USERFAULTFD=y
CONFIG_ADAPTIVE_TOLERANCE_OPTIMIZATION=y
CONFIG_MODULES=y
